<a href="https://colab.research.google.com/github/faisu6339-glitch/Data-Analytic/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Create Pandas Series

In [ ]:
import pandas as pd
data=[1,2,3,5,6]
series=pd.Series(data)
print(series)

0    1
1    2
2    3
3    5
4    6
dtype: int64

In [ ]:
import pandas as pd
data=[1,2.5,3,5,6,True,"fuck"]
series=pd.Series(data)
print(series)

0       1
1     2.5
2       3
3       5
4       6
5    True
6    fuck
dtype: object

In [ ]:
import pandas as pd
data=[1,2.5,3,5,6,True,"duddu"]
series=pd.Series(data,index=["a","b","c","d","e","f","g"])
print(series)

a        1
b      2.5
c        3
d        5
e        6
f     True
g    duddu
dtype: object

In [ ]:
import pandas as pd
data={"a":10,"b":20,"c":30,"d":25,"e":98,"f":65,"g":85}
series=pd.Series(data)
print(series)

a    10
b    20
c    30
d    25
e    98
f    65
g    85
dtype: int64

Createing a series from a Numpy array

In [ ]:
import numpy as np
import pandas as pd
arr=np.array([1,2,3,4,5])
series=pd.Series(arr)
print(series)

0    1
1    2
2    3
3    4
4    5
dtype: int64

Accessing elements of Series (Position Based Indexing)

In [ ]:
import numpy as np
import pandas as pd
s=pd.Series([1,2,3,4,5])
print("Element at position",s[3])

Element at position 4

In [ ]:
import numpy as np
import pandas as pd
s=pd.Series([11,12,13,14,15])
print("Element at position\n",s[0:])
print("Element at position\n",s[0:4])
print("Element at position\n",s[:5])

Element at position
 0    11
1    12
2    13
3    14
4    15
dtype: int64
Element at position
 0    11
1    12
2    13
3    14
dtype: int64
Element at position
 0    11
1    12
2    13
3    14
4    15
dtype: int64

In [ ]:
import pandas as pd
s=pd.Series([11,12,13,14,15])
print(s[[0,2,3]])

0    11
2    13
3    14
dtype: int64

In [ ]:
import pandas as pd
s=pd.Series([11,12,13,14,15])
print("Last Element",s.iloc[-1])

Last Element 15

In [ ]:
import pandas as pd

data = [10, 20, 30, 40, 50],[1,2,3,4,5]
s = pd.Series(data)

print("Series:")
print(s)
print("\nType:", type(s))
print(s.ndim)

Series:
0    [10, 20, 30, 40, 50]
1         [1, 2, 3, 4, 5]
dtype: object

Type: <class 'pandas.core.series.Series'>
1

In [ ]:
import pandas as pd

s = pd.Series([100, 200, 300, 400], index=["a", "b", "c", "d"])

print("Element at index 'b':", s["b"])
print("First element using position:", s.iloc[0])
print("Slice from b to d:")
print(s["b":"d"])  # label based slicing (inclusive)

Element at index 'b': 200
First element using position: 100
Slice from b to d:
b    200
c    300
d    400
dtype: int64

6.1 DataFrame from a Dictionary of Lists

In [ ]:
import pandas as pd

data = {
    "Name": ["Aliya", "Rahul", "Sneha"],
    "Age": [21, 22, 20],
    "Marks": [85, 90, 88]
}

df = pd.DataFrame(data)

print("DataFrame:")
print(df)
print("\nType:", type(df))

DataFrame:
    Name  Age  Marks
0  Aliya   21     85
1  Rahul   22     90
2  Sneha   20     88

Type: <class 'pandas.core.frame.DataFrame'>

Custom indexing

In [ ]:
import pandas as pd
data={
    "Name":["Aliya","Rahul","Sneha"],
    "Age":[25,35,62],
    "Marks":[-90,25,99]
}
df=pd.DataFrame(data,index=["a","b","c"])
print("DataFrame:")
print(df)

DataFrame:
    Name  Age  Marks
a  Aliya   25    -90
b  Rahul   35     25
c  Sneha   62     99

6.3 DataFrame from List of Lists

In [ ]:
import pandas as pd

data = [
    [1, "Apple", 50],
    [2, "Banana", 20],
    [3, "Orange", 30]
]

df = pd.DataFrame(data, columns=["ID", "Fruit", "Price"])

print(df)

   ID   Fruit  Price
0   1   Apple     50
1   2  Banana     20
2   3  Orange     30

6.4 DataFrame from List of Dictionaries

In [ ]:
import pandas as pd

data = [
    {"Name": "Aliya", "Age": 21, "City": "Delhi"},
    {"Name": "Rahul", "Age": 22, "City": "Mumbai"},
    {"Name": "Sneha", "Age": 20, "City": "Kolkata"}
]

df = pd.DataFrame(data)

print(df)

    Name  Age     City
0  Aliya   21    Delhi
1  Rahul   22   Mumbai
2  Sneha   20  Kolkata

7. Basic Attributes of DataFrame

In [ ]:
import pandas as pd

data = {
    "Name": ["Aliya", "Rahul", "Sneha"],
    "Age": [21, 22, 20],
    "Marks": [85, 90, 88]
}

df = pd.DataFrame(data)

print("DataFrame:\n", df)
print("\nShape (rows, columns):", df.shape)
print("Column names:", df.columns)
print("Data types:\n", df.dtypes)
print("Index:", df.index)
print("Dimensions",df.ndim)

DataFrame:
     Name  Age  Marks
0  Aliya   21     85
1  Rahul   22     90
2  Sneha   20     88

Shape (rows, columns): (3, 3)
Column names: Index(['Name', 'Age', 'Marks'], dtype='object')
Data types:
 Name     object
Age       int64
Marks     int64
dtype: object
Index: RangeIndex(start=0, stop=3, step=1)
Dimensions 2

8. Accessing Columns & Rows (Basic)

In [ ]:
import pandas as pd

data = {
    "Name": ["Aliya", "Rahul", "Sneha"],
    "Age": [21, 22, 20],
    "Marks": [85, 90, 88]
}

df = pd.DataFrame(data)

print("Name column:\n", df["Name"])
print("\nMarks column:\n", df.Marks)  # alternative

Name column:
 0    Aliya
1    Rahul
2    Sneha
Name: Name, dtype: object

Marks column:
 0    85
1    90
2    88
Name: Marks, dtype: int64

8.2 Accessing Multiple Columns

In [ ]:
print(df[["Name", "Marks"]])

    Name  Marks
0  Aliya     85
1  Rahul     90
2  Sneha     88

8.3 Accessing Rows (using loc and iloc — just a preview)

In [ ]:
# By index label
print("Row with index 0 (using loc):\n", df.loc[0])

# By position
print("\nRow at position 1 (using iloc):\n", df.iloc[-1])

Row with index 0 (using loc):
 Name     Aliya
Age         21
Marks       85
Name: 0, dtype: object

Row at position 1 (using iloc):
 Name     Sneha
Age         20
Marks       88
Name: 2, dtype: object

differnece Between loc[] & iloc[]

In [ ]:
import pandas as pd

data = {
    "Name": ["Ali", "Sara", "John", "Aman"],
    "Age": [20, 22, 19, 24],
    "Marks": [85, 90, 88, 92]
}

df = pd.DataFrame(data, index=["a", "b", "c", "d"])
print(df)

   Name  Age  Marks
a   Ali   20     85
b  Sara   22     90
c  John   19     88
d  Aman   24     92

.loc → Label Based Selection

In [ ]:
df.loc["a"]

Name     Ali
Age       20
Marks     85
Name: a, dtype: object

Select Multiple Rows

In [ ]:
df.loc["a":"c"]

   Name  Age  Marks
a   Ali   20     85
b  Sara   22     90
c  John   19     88

Select Row + Column

In [ ]:
print(df.loc["a", "Name"])
print(df.loc["a", "Age"])
print(df.loc["a", "Marks"])
print()
print(df.loc["a"])

Ali
20
85

Name     Ali
Age       20
Marks     85
Name: a, dtype: object

.iloc → Index Position Based Selection

In [ ]:
df.iloc[0]

Name     Ali
Age       20
Marks     85
Name: a, dtype: object

Student Table

In [ ]:
import pandas as pd

# Step 1: Create data (ALL lists must be same length)
names = ["Aaliya", "Shadmani", "Ummehani", "Zainab", "Talat",
         "Noor Ayesha", "Noor Aamna", "Noor Rahmat", "Noor Azmat", "Shaziya", "Shabnam"]

ages = [21, 22, 20, 23, 22, 21, 20, 23, 22, 21, 24]

marks = [85, 90, 88, 75, 80, 89, 77, 84, 91, 73, 88]

# Step 2: Create a DataFrame
df = pd.DataFrame({
    "Name": names,
    "Age": ages,
    "Marks": marks
})

# Step 3: Show DataFrame
print("Full DataFrame:\n")
print(df)

# Step 4: Show basic info
print("\nShape (Rows, Columns):", df.shape)
print("\nColumn Names:", df.columns)
print("\nData Types:\n", df.dtypes)

# Step 5: Access specific column
print("\nNames of students:")
print(df["Name"])

# Step 6: Access a specific row (second student)
print("\nDetails of second student:")
print(df.loc[1])

Full DataFrame:

           Name  Age  Marks
0        Aaliya   21     85
1      Shadmani   22     90
2      Ummehani   20     88
3        Zainab   23     75
4         Talat   22     80
5   Noor Ayesha   21     89
6    Noor Aamna   20     77
7   Noor Rahmat   23     84
8    Noor Azmat   22     91
9       Shaziya   21     73
10      Shabnam   24     88

Shape (Rows, Columns): (11, 3)

Column Names: Index(['Name', 'Age', 'Marks'], dtype='object')

Data Types:
 Name     object
Age       int64
Marks     int64
dtype: object

Names of students:
0          Aaliya
1        Shadmani
2        Ummehani
3          Zainab
4           Talat
5     Noor Ayesha
6      Noor Aamna
7     Noor Rahmat
8      Noor Azmat
9         Shaziya
10        Shabnam
Name: Name, dtype: object

Details of second student:
Name     Shadmani
Age            22
Marks          90
Name: 1, dtype: object

✅ MODULE 2: Reading & Writing Data

In [ ]:
import pandas as pd
df=pd.read_csv("Diwali Sales Data.csv", encoding='latin1')
print(df)

FileNotFoundError: [Errno 2] No such file or directory: 'Diwali Sales Data.csv'

In [ ]:
df.head(10)

In [ ]:
df.columns

In [ ]:
df.info()

In [ ]:
df['Status']

In [ ]:
df['unnamed1']

In [ ]:
df.describe()

In [ ]:
df.isnull()

In [ ]:
df.isnull().sum()

In [ ]:
df.drop(['unnamed1'],axis=1,inplace=True)

In [ ]:
df.isnull().sum()

In [ ]:
df.head(10)

In [ ]:
df.columns

In [ ]:
df.drop(['Status'],axis=1,inplace=True)

In [ ]:
df.columns

In [ ]:
df.head(2)

In [ ]:
df.fillna(df['Amount'].mean(), inplace=True)

In [ ]:
df.isnull().sum()

In [ ]:
df.head(10)

In [ ]:
df.describe()

In [ ]:
df.shape   # (rows, columns)

In [ ]:
df.columns
df.dtypes

In [ ]:
df.duplicated().sum()

In [ ]:
df['Gender']

In [ ]:
df.Gender.unique()

In [ ]:
df.Gender.value_counts()

In [ ]:
import matplotlib.pyplot as plt
plt.pie(df.Gender.value_counts(),labels=df.Gender.unique(),autopct='%1.2f%%')
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# Create a figure and axes for Age boxplot
plt.figure(figsize=(8, 6))
sns.boxplot(y=df['Age'])
plt.title('Boxplot of Age')
plt.ylabel('Age')
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# Create a figure and axes for Orders boxplot
plt.figure(figsize=(8, 6))
sns.boxplot(y=df['Orders'])
plt.title('Boxplot of Orders')
plt.ylabel('Orders')
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# Create a figure and axes for Amount boxplot
plt.figure(figsize=(8, 6))
sns.boxplot(y=df['Amount'])
plt.title('Boxplot of Amount')
plt.ylabel('Amount')
plt.show()