In [1]:
import pandas as pd

In [ ]:
                                            #Series

In [2]:
S=pd.Series([11,28,3,2,56,9])
S

0    11
1    28
2     3
3     2
4    56
5     9
dtype: int64

In [37]:
print(S.index)
print(S.values)

RangeIndex(start=0, stop=6, step=1)
[11 28  3  2 56  9]

In [32]:
import numpy as np

In [38]:
x=np.array([11,28,3,2,56,9])
print(x)
print(type(S.values),type(x))
print(S.values)

[11 28  3  2 56  9]
<class 'numpy.ndarray'> <class 'numpy.ndarray'>
[11 28  3  2 56  9]

In [13]:
fruits=['apple','banana','mango','orange']
quantities=[20,30,40,50]
S=pd.Series(quantities,index=fruits)
S

apple     20
banana    30
mango     40
orange    50
dtype: int64

In [ ]:
#Adding two series together

In [3]:
fruits=['apple','banana','mango','orange']
s=pd.Series([20,30,40,50], index=fruits)
s1=pd.Series([92,64,85,53], index=fruits)

print(s+s1)
print("sum of s",sum(s))

apple     112
banana     94
mango     125
orange    103
dtype: int64
sum of s 140

In [7]:
fruits1=['apple','banana','mango','orange']
fruits2=['apple','banana','mango','cherries']
s2=pd.Series([20,30,40,50], index=fruits1)
s3=pd.Series([92,64,85,53], index=fruits2)
print(s2+s3)

apple       112.0
banana       94.0
cherries      NaN
mango       125.0
orange        NaN
dtype: float64

In [6]:
fruits3=['apple','banana','mango','orange']
fruits4=['elma','kiraz','portakal','cherries']
s4=pd.Series([20,30,40,50], index=fruits3)
s5=pd.Series([92,64,85,53], index=fruits4)
print(s4+s5)

apple      NaN
banana     NaN
cherries   NaN
elma       NaN
kiraz      NaN
mango      NaN
orange     NaN
portakal   NaN
dtype: float64

In [ ]:
#Accessing through indexing

In [9]:
print(s5['elma'])

92

In [11]:
print(s2[['apple','banana','mango','orange']])

apple     20
banana    30
mango     40
orange    50
dtype: int64

In [ ]:
#Similar work in numpy

In [2]:
import numpy as np

In [13]:
print((s + 3) * 4)
print("=========")
print(np.sin(s))

apple      92
banana    132
mango     172
orange    212
dtype: int64
=========
apple     0.912945
banana   -0.988032
mango     0.745113
orange   -0.262375
dtype: float64

In [14]:
s.apply(np.log)

apple     2.995732
banana    3.401197
mango     3.688879
orange    3.912023
dtype: float64

In [ ]:
#Filtering with boolean array

In [15]:
s[s>30]

mango     40
orange    50
dtype: int64

In [18]:
"apple" in s2

True

In [19]:
"pineapple" in s2

False

In [ ]:
#Creating series objects from dictionary

In [3]:
cities={"London": 85210,"Germany":755311,"France":7541854,"Ukaraine":8785755,"Japan":5674564,"China":235154,"Rome":459874,"Minch":41875,"Vienna":78455}
city_series=pd.Series(cities)
print(city_series)

London        85210
Germany      755311
France      7541854
Ukaraine    8785755
Japan       5674564
China        235154
Rome         459874
Minch         41875
Vienna        78455
dtype: int64

In [ ]:
#Finding Missing data using Null and NotNull

In [4]:
my_cities=["London","Germany","France","Ukaraine","Hamburg","Japan"]
my_city_series = pd.Series(cities,index=my_cities)
my_city_series

London        85210.0
Germany      755311.0
France      7541854.0
Ukaraine    8785755.0
Hamburg           NaN
Japan       5674564.0
dtype: float64

In [5]:
my_cities=["London","Germany","France","Ukaraine","Japan"]
my_city_series = pd.Series(cities,index=my_cities)
my_city_series

London        85210
Germany      755311
France      7541854
Ukaraine    8785755
Japan       5674564
dtype: int64

In [6]:
my_cities=["London","Germany","France","Ukaraine","Japan","zurich","Hamburg","USA"]
my_city_series=pd.Series(cities,index=my_cities)
print(my_city_series.isnull())

London      False
Germany     False
France      False
Ukaraine    False
Japan       False
zurich       True
Hamburg      True
USA          True
dtype: bool

In [8]:
print(my_city_series.notnull())

London       True
Germany      True
France       True
Ukaraine     True
Japan        True
zurich      False
Hamburg     False
USA         False
dtype: bool

In [ ]:
#Connecting between NAN and NONE

In [9]:
d={"a":23,"b":45,"c":None,"d":0}
s=pd.Series(d)
print(s)

a    23.0
b    45.0
c     NaN
d     0.0
dtype: float64

In [10]:
pd.isnull(s)

a    False
b    False
c     True
d    False
dtype: bool

In [11]:
pd.notnull(s)

a     True
b     True
c    False
d     True
dtype: bool

In [ ]:
#Filtring out missing data

In [12]:
print(my_city_series.dropna())

London        85210.0
Germany      755311.0
France      7541854.0
Ukaraine    8785755.0
Japan       5674564.0
dtype: float64

In [ ]:
#Filling in Missing Data

In [8]:
print(my_city_series.fillna(0))

London        85210.0
Germany      755311.0
France      7541854.0
Ukaraine    8785755.0
Hamburg           0.0
Japan       5674564.0
dtype: float64

In [10]:
missing_cities={"Hamburg":45875656}
my_city_series.fillna(missing_cities)

London         85210.0
Germany       755311.0
France       7541854.0
Ukaraine     8785755.0
Hamburg     45875656.0
Japan        5674564.0
dtype: float64

In [ ]:
                                             #Data Frames

In [ ]:
#Concating the values

In [13]:
years=range(2014,2018)
shop1=pd.Series([2409.14,2491.01,3496.83,3119.55],index=years)
shop2=pd.Series([1203.14,3441.01,3007.83,6319.55],index=years)
shop3=pd.Series([3412.14,3491.01,3457.83,19639.55],index=years)

pd.concat([shop1,shop2,shop3])

2014     2409.14
2015     2491.01
2016     3496.83
2017     3119.55
2014     1203.14
2015     3441.01
2016     3007.83
2017     6319.55
2014     3412.14
2015     3491.01
2016     3457.83
2017    19639.55
dtype: float64

In [ ]:
#Concating

In [15]:
shops_df=pd.concat([shop1,shop2,shop3],axis=1)
shops_df

            0        1         2
2014  2409.14  1203.14   3412.14
2015  2491.01  3441.01   3491.01
2016  3496.83  3007.83   3457.83
2017  3119.55  6319.55  19639.55

In [16]:
cities=["Zurich","Winterthur","Freiburg"]
shops_df.columns=cities
print(shops_df)

#Alternative way: give names to series
shop1.name="Zurich"
shop2.name="Winterthur"
shop3.name="Freiburg"

print("---------------------------")

shops_df2=pd.concat([shop1,shop2,shop3],axis=1)
print(shops_df2)

       Zurich  Winterthur  Freiburg
2014  2409.14     1203.14   3412.14
2015  2491.01     3441.01   3491.01
2016  3496.83     3007.83   3457.83
2017  3119.55     6319.55  19639.55
---------------------------
       Zurich  Winterthur  Freiburg
2014  2409.14     1203.14   3412.14
2015  2491.01     3441.01   3491.01
2016  3496.83     3007.83   3457.83
2017  3119.55     6319.55  19639.55

In [ ]:
#DataFrames From Dictionaries

In [41]:
cities={"Name":["London","Berlin","Madrid","Rome","Paris","Vienna","Hamburg"],
        "Population":[454556566,9898754,31652166,3165235,2874038,1760433,1493900],
        "Country":["England","Germany","Spain","Italy","France","Austria","Romania"]}
city_frame=pd.DataFrame(cities)
city_frame

      Name  Population  Country
0   London   454556566  England
1   Berlin     9898754  Germany
2   Madrid    31652166    Spain
3     Rome     3165235    Italy
4    Paris     2874038   France
5   Vienna     1760433  Austria
6  Hamburg     1493900  Romania

In [ ]:
#Retrieving the Columns Names

In [18]:
city_frame.columns.values

array(['Name', 'Population', 'Country'], dtype=object)

In [ ]:
#Custom Index

In [19]:
ordinals=["first","second","third","fourth","fifth","sixth","seventh"]
city_frame=pd.DataFrame(cities,index=ordinals)
city_frame

            Name  Population  Country
first     London   454556566  England
second    Berlin     9898754  Germany
third     Madrid    31652166    Spain
fourth      Rome     3165235    Italy
fifth      Paris     2874038   France
sixth     Vienna     1760433  Austria
seventh  Hamburg     1493900  Romania

In [ ]:
#Existing Column as the index

In [42]:
city_frame=pd.DataFrame(cities,columns=["Name","Population"],index=cities["Country"])
city_frame

            Name  Population
England   London   454556566
Germany   Berlin     9898754
Spain     Madrid    31652166
Italy       Rome     3165235
France     Paris     2874038
Austria   Vienna     1760433
Romania  Hamburg     1493900

In [25]:
city_frame=pd.DataFrame(cities)
city_frame2=city_frame.set_index("Country")
print(city_frame2)

            Name  Population
Country
England   London   454556566
Germany   Berlin     9898754
Spain     Madrid    31652166
Italy       Rome     3165235
France     Paris     2874038
Austria   Vienna     1760433
Romania  Hamburg     1493900

In [ ]:
#Accessing Rows via Index Vlaues

In [48]:
city_frame=pd.DataFrame(cities,columns=("Name","Population"),index=cities["Country"])
print(city_frame.loc["Germany"])

Name           Berlin
Population    9898754
Name: Germany, dtype: object

In [51]:
condition=city_frame.Population>14939
condition

England    True
Germany    True
Spain      True
Italy      True
France     True
Austria    True
Romania    True
Name: Population, dtype: bool

In [53]:
print(city_frame.loc[condition])

            Name  Population
England   London   454556566
Germany   Berlin     9898754
Spain     Madrid    31652166
Italy       Rome     3165235
France     Paris     2874038
Austria   Vienna     1760433
Romania  Hamburg     1493900

In [ ]:
#Accessing Rows by Position

In [29]:
df=city_frame.iloc[2]
print(df)

Name            Madrid
Population    31652166
Country          Spain
Name: 2, dtype: object

In [30]:
df=city_frame.iloc[[2,3,4,0]]
print(df)

     Name  Population  Country
2  Madrid    31652166    Spain
3    Rome     3165235    Italy
4   Paris     2874038   France
0  London   454556566  England

In [ ]:
#SUM and CUMULATIVE SUM

In [55]:
years=range(2041,2019)
cities=["Zurich","Frieburg","Munchen","Konstanz","Saarbruken"]
shops=pd.DataFrame(index=years)
for city in cities:
    shops.insert(loc=len(shops.columns),
                 column=city,
                 value=(np.random.uniform(0.7,1,(5,)) *1000).round(2))
print(shops)

   Zurich  Frieburg  Munchen  Konstanz  Saarbruken
0  921.99    894.32   966.92    949.05      965.28
1  771.62    716.72   745.42    984.57      728.05
2  722.90    796.23   754.86    957.60      870.56
3  859.85    742.27   708.22    766.50      807.42
4  811.41    738.71   984.91    770.51      849.01

In [56]:
shops.sum()

Zurich        4087.77
Frieburg      3888.25
Munchen       4160.33
Konstanz      4428.23
Saarbruken    4220.32
dtype: float64

In [57]:
shops.sum(axis=1)

0    4697.56
1    3946.38
2    4102.15
3    3884.26
4    4154.55
dtype: float64

In [58]:
s=shops.iloc[:,[0,2,-1]]
print(s)
print("And now the sum:")
print(s.sum())

   Zurich  Munchen  Saarbruken
0  921.99   966.92      965.28
1  771.62   745.42      728.05
2  722.90   754.86      870.56
3  859.85   708.22      807.42
4  811.41   984.91      849.01
And now the sum:
Zurich        4087.77
Munchen       4160.33
Saarbruken    4220.32
dtype: float64

In [59]:
shops[["Zurich","Munchen","Saarbruken"]].sum()

Zurich        4087.77
Munchen       4160.33
Saarbruken    4220.32
dtype: float64

In [ ]:
#cumsum to calculate the cummulative sum

In [63]:
x=shops.cumsum()
print(x)

    Zurich  Frieburg  Munchen  Konstanz  Saarbruken
0   921.99    894.32   966.92    949.05      965.28
1  1693.61   1611.04  1712.34   1933.62     1693.33
2  2416.51   2407.27  2467.20   2891.22     2563.89
3  3276.36   3149.54  3175.42   3657.72     3371.31
4  4087.77   3888.25  4160.33   4428.23     4220.32

In [64]:
x=shops.cumsum(axis=1)
print(x)

   Zurich  Frieburg  Munchen  Konstanz  Saarbruken
0  921.99   1816.31  2783.23   3732.28     4697.56
1  771.62   1488.34  2233.76   3218.33     3946.38
2  722.90   1519.13  2273.99   3231.59     4102.15
3  859.85   1602.12  2310.34   3076.84     3884.26
4  811.41   1550.12  2535.03   3305.54     4154.55

In [ ]:
#Assigning new values to column

In [65]:
city_frame["Population"]=x
print(city_frame)

ValueError: Columns must be same length as key

In [70]:
city_frame=pd.DataFrame(cities,coulmns=["country"
                                        ,"population",
                                        "cum_population"],
                        index=cities["name"])
city_frame

TypeError: list indices must be integers or slices, not str

In [73]:
print(city_frame.Population)

England    454556566
Germany      9898754
Spain       31652166
Italy        3165235
France       2874038
Austria      1760433
Romania      1493900
Name: Population, dtype: int64

In [74]:
print(city_frame["Population"])

England    454556566
Germany      9898754
Spain       31652166
Italy        3165235
France       2874038
Austria      1760433
Romania      1493900
Name: Population, dtype: int64

In [75]:
city_frame.Population

England    454556566
Germany      9898754
Spain       31652166
Italy        3165235
France       2874038
Austria      1760433
Romania      1493900
Name: Population, dtype: int64

In [ ]:
#Assigning new values to column

In [76]:
city_frame["area"]=1572
print(city_frame)

            Name  Population  area
England   London   454556566  1572
Germany   Berlin     9898754  1572
Spain     Madrid    31652166  1572
Italy       Rome     3165235  1572
France     Paris     2874038  1572
Austria   Vienna     1760433  1572
Romania  Hamburg     1493900  1572

In [ ]:
#Area in square

In [78]:
area=[465,646,4641,789,6541,123,116,]

city_frame["area"]=area
print(city_frame)

            Name  Population  area
England   London   454556566   465
Germany   Berlin     9898754   646
Spain     Madrid    31652166  4641
Italy       Rome     3165235   789
France     Paris     2874038  6541
Austria   Vienna     1760433   123
Romania  Hamburg     1493900   116

In [ ]:
#Sorting DataFrames

In [79]:
cityframe=city_frame.sort_values(by="area",ascending=False)
print(city_frame)

            Name  Population  area
England   London   454556566   465
Germany   Berlin     9898754   646
Spain     Madrid    31652166  4641
Italy       Rome     3165235   789
France     Paris     2874038  6541
Austria   Vienna     1760433   123
Romania  Hamburg     1493900   116

In [ ]:
#Insering New coulmn into existing Dataframes

In [81]:
cityframe=pd.DataFrame(cities,columns=["country","population"],
                       index=cities["name"])
idx=1
city_frame.insert(loc=idx,column='area',value=area)
city_frame

TypeError: list indices must be integers or slices, not str