In [ ]:
#dropna & fillna

In [1]:
import pandas as pd

In [7]:
var=pd.read_csv("locations.csv")
var

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987
1,Albania,Europe,2877800.0,78.57,2.89,11803.431
2,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,Africa,32866268.0,61.15,NaN,5819.495
5,NaN,NaN,NaN,NaN,NaN,NaN
6,Antigua and Barbuda,North America,97928.0,77.02,3.80,21490.943
7,Argentina,South America,45195777.0,76.67,5.00,18933.907
8,Armenia,Asia,2963234.0,75.09,4.20,8787.580
9,Aruba,North America,106766.0,76.29,NaN,35973.781
10,Australia,Oceania,25499881.0,83.44,3.84,44648.710
11,Austria,Europe,9006400.0,81.54,7.37,45436.686
12,Azerbaijan,Asia,10139175.0,73.00,4.70,15847.419
13,Bahamas,North America,393248.0,73.92,2.90,27717.847
14,Bahrain,Asia,1701583.0,77.29,2.00,43290.705
15,Bangladesh,Asia,164689383.0,72.59,0.80,3523.984
16,Barbados,North America,287371.0,79.19,5.80,16978.068
17,Belarus,Europe,9449321.0,74.79,11.00,17167.967
18,Belgium,Europe,11589616.0,81.63,5.64,42658.576
19,Belize,North America,397621.0,74.62,1.30,7824.362
20,Benin,Africa,12123198.0,61.77,0.50,2064.236
21,Bermuda,North America,62273.0,82.59,NaN,50669.315
22,Bhutan,Asia,771612.0,71.78,1.70,8708.597

In [ ]:
#To remove all the Empty cell along Y-AXIS(ROW)

In [13]:
var.dropna(axis=0)

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987
1,Albania,Europe,2877800.0,78.57,2.89,11803.431
6,Antigua and Barbuda,North America,97928.0,77.02,3.80,21490.943
7,Argentina,South America,45195777.0,76.67,5.00,18933.907
8,Armenia,Asia,2963234.0,75.09,4.20,8787.580
10,Australia,Oceania,25499881.0,83.44,3.84,44648.710
11,Austria,Europe,9006400.0,81.54,7.37,45436.686
12,Azerbaijan,Asia,10139175.0,73.00,4.70,15847.419
13,Bahamas,North America,393248.0,73.92,2.90,27717.847
14,Bahrain,Asia,1701583.0,77.29,2.00,43290.705
15,Bangladesh,Asia,164689383.0,72.59,0.80,3523.984
16,Barbados,North America,287371.0,79.19,5.80,16978.068
17,Belarus,Europe,9449321.0,74.79,11.00,17167.967
18,Belgium,Europe,11589616.0,81.63,5.64,42658.576
19,Belize,North America,397621.0,74.62,1.30,7824.362
20,Benin,Africa,12123198.0,61.77,0.50,2064.236
22,Bhutan,Asia,771612.0,71.78,1.70,8708.597

In [ ]:
#To remove all the Empty cell along X-AXIS(Column)

In [14]:
var.dropna(axis=1)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22]

In [ ]:
#To remove a single empty row

In [15]:
var.dropna(how="any")

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987
1,Albania,Europe,2877800.0,78.57,2.89,11803.431
6,Antigua and Barbuda,North America,97928.0,77.02,3.80,21490.943
7,Argentina,South America,45195777.0,76.67,5.00,18933.907
8,Armenia,Asia,2963234.0,75.09,4.20,8787.580
10,Australia,Oceania,25499881.0,83.44,3.84,44648.710
11,Austria,Europe,9006400.0,81.54,7.37,45436.686
12,Azerbaijan,Asia,10139175.0,73.00,4.70,15847.419
13,Bahamas,North America,393248.0,73.92,2.90,27717.847
14,Bahrain,Asia,1701583.0,77.29,2.00,43290.705
15,Bangladesh,Asia,164689383.0,72.59,0.80,3523.984
16,Barbados,North America,287371.0,79.19,5.80,16978.068
17,Belarus,Europe,9449321.0,74.79,11.00,17167.967
18,Belgium,Europe,11589616.0,81.63,5.64,42658.576
19,Belize,North America,397621.0,74.62,1.30,7824.362
20,Benin,Africa,12123198.0,61.77,0.50,2064.236
22,Bhutan,Asia,771612.0,71.78,1.70,8708.597

In [ ]:
#TO show Na values

In [16]:
var.dropna(how="all")

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987
1,Albania,Europe,2877800.0,78.57,2.89,11803.431
4,Angola,Africa,32866268.0,61.15,NaN,5819.495
6,Antigua and Barbuda,North America,97928.0,77.02,3.80,21490.943
7,Argentina,South America,45195777.0,76.67,5.00,18933.907
8,Armenia,Asia,2963234.0,75.09,4.20,8787.580
9,Aruba,North America,106766.0,76.29,NaN,35973.781
10,Australia,Oceania,25499881.0,83.44,3.84,44648.710
11,Austria,Europe,9006400.0,81.54,7.37,45436.686
12,Azerbaijan,Asia,10139175.0,73.00,4.70,15847.419
13,Bahamas,North America,393248.0,73.92,2.90,27717.847
14,Bahrain,Asia,1701583.0,77.29,2.00,43290.705
15,Bangladesh,Asia,164689383.0,72.59,0.80,3523.984
16,Barbados,North America,287371.0,79.19,5.80,16978.068
17,Belarus,Europe,9449321.0,74.79,11.00,17167.967
18,Belgium,Europe,11589616.0,81.63,5.64,42658.576
19,Belize,North America,397621.0,74.62,1.30,7824.362
20,Benin,Africa,12123198.0,61.77,0.50,2064.236
21,Bermuda,North America,62273.0,82.59,NaN,50669.315
22,Bhutan,Asia,771612.0,71.78,1.70,8708.597

In [ ]:
#To remove null value in particular ROW

In [18]:
var.dropna(subset=["hospital_beds_per_thousand"])

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987
1,Albania,Europe,2877800.0,78.57,2.89,11803.431
6,Antigua and Barbuda,North America,97928.0,77.02,3.80,21490.943
7,Argentina,South America,45195777.0,76.67,5.00,18933.907
8,Armenia,Asia,2963234.0,75.09,4.20,8787.580
10,Australia,Oceania,25499881.0,83.44,3.84,44648.710
11,Austria,Europe,9006400.0,81.54,7.37,45436.686
12,Azerbaijan,Asia,10139175.0,73.00,4.70,15847.419
13,Bahamas,North America,393248.0,73.92,2.90,27717.847
14,Bahrain,Asia,1701583.0,77.29,2.00,43290.705
15,Bangladesh,Asia,164689383.0,72.59,0.80,3523.984
16,Barbados,North America,287371.0,79.19,5.80,16978.068
17,Belarus,Europe,9449321.0,74.79,11.00,17167.967
18,Belgium,Europe,11589616.0,81.63,5.64,42658.576
19,Belize,North America,397621.0,74.62,1.30,7824.362
20,Benin,Africa,12123198.0,61.77,0.50,2064.236
22,Bhutan,Asia,771612.0,71.78,1.70,8708.597

In [ ]:
#Remove NULL values

In [8]:
var.dropna(inplace=True)
var

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987
1,Albania,Europe,2877800.0,78.57,2.89,11803.431
6,Antigua and Barbuda,North America,97928.0,77.02,3.80,21490.943
7,Argentina,South America,45195777.0,76.67,5.00,18933.907
8,Armenia,Asia,2963234.0,75.09,4.20,8787.580
10,Australia,Oceania,25499881.0,83.44,3.84,44648.710
11,Austria,Europe,9006400.0,81.54,7.37,45436.686
12,Azerbaijan,Asia,10139175.0,73.00,4.70,15847.419
13,Bahamas,North America,393248.0,73.92,2.90,27717.847
14,Bahrain,Asia,1701583.0,77.29,2.00,43290.705
15,Bangladesh,Asia,164689383.0,72.59,0.80,3523.984
16,Barbados,North America,287371.0,79.19,5.80,16978.068
17,Belarus,Europe,9449321.0,74.79,11.00,17167.967
18,Belgium,Europe,11589616.0,81.63,5.64,42658.576
19,Belize,North America,397621.0,74.62,1.30,7824.362
20,Benin,Africa,12123198.0,61.77,0.50,2064.236
22,Bhutan,Asia,771612.0,71.78,1.70,8708.597

In [ ]:
#Multiple NULL values in single column

In [17]:
var=pd.read_csv("locations.csv")
var

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987
1,Albania,Europe,2877800.0,78.57,2.89,11803.431
2,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,Africa,32866268.0,61.15,NaN,5819.495
5,NaN,NaN,NaN,NaN,NaN,NaN
6,Antigua and Barbuda,North America,97928.0,77.02,3.80,21490.943
7,Argentina,South America,45195777.0,76.67,5.00,18933.907
8,Armenia,Asia,2963234.0,75.09,4.20,8787.580
9,Aruba,North America,106766.0,76.29,NaN,35973.781
10,Australia,Oceania,25499881.0,83.44,3.84,44648.710
11,Austria,Europe,9006400.0,81.54,7.37,45436.686
12,Azerbaijan,Asia,10139175.0,73.00,4.70,15847.419
13,Bahamas,North America,393248.0,73.92,2.90,27717.847
14,Bahrain,Asia,1701583.0,77.29,2.00,43290.705
15,Bangladesh,Asia,164689383.0,72.59,0.80,3523.984
16,Barbados,North America,287371.0,79.19,5.80,16978.068
17,Belarus,Europe,9449321.0,74.79,11.00,17167.967
18,Belgium,Europe,11589616.0,81.63,5.64,42658.576
19,Belize,North America,397621.0,74.62,1.30,7824.362
20,Benin,Africa,12123198.0,61.77,0.50,2064.236
21,Bermuda,North America,62273.0,82.59,NaN,50669.315
22,Bhutan,Asia,771612.0,71.78,1.70,8708.597

In [18]:
var.dropna(thresh=6)

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987
1,Albania,Europe,2877800.0,78.57,2.89,11803.431
6,Antigua and Barbuda,North America,97928.0,77.02,3.80,21490.943
7,Argentina,South America,45195777.0,76.67,5.00,18933.907
8,Armenia,Asia,2963234.0,75.09,4.20,8787.580
10,Australia,Oceania,25499881.0,83.44,3.84,44648.710
11,Austria,Europe,9006400.0,81.54,7.37,45436.686
12,Azerbaijan,Asia,10139175.0,73.00,4.70,15847.419
13,Bahamas,North America,393248.0,73.92,2.90,27717.847
14,Bahrain,Asia,1701583.0,77.29,2.00,43290.705
15,Bangladesh,Asia,164689383.0,72.59,0.80,3523.984
16,Barbados,North America,287371.0,79.19,5.80,16978.068
17,Belarus,Europe,9449321.0,74.79,11.00,17167.967
18,Belgium,Europe,11589616.0,81.63,5.64,42658.576
19,Belize,North America,397621.0,74.62,1.30,7824.362
20,Benin,Africa,12123198.0,61.77,0.50,2064.236
22,Bhutan,Asia,771612.0,71.78,1.70,8708.597

In [ ]:
#Filling the NULL VALUES

In [19]:
var=pd.read_csv("locations.csv")
var

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987
1,Albania,Europe,2877800.0,78.57,2.89,11803.431
2,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,Africa,32866268.0,61.15,NaN,5819.495
5,NaN,NaN,NaN,NaN,NaN,NaN
6,Antigua and Barbuda,North America,97928.0,77.02,3.80,21490.943
7,Argentina,South America,45195777.0,76.67,5.00,18933.907
8,Armenia,Asia,2963234.0,75.09,4.20,8787.580
9,Aruba,North America,106766.0,76.29,NaN,35973.781
10,Australia,Oceania,25499881.0,83.44,3.84,44648.710
11,Austria,Europe,9006400.0,81.54,7.37,45436.686
12,Azerbaijan,Asia,10139175.0,73.00,4.70,15847.419
13,Bahamas,North America,393248.0,73.92,2.90,27717.847
14,Bahrain,Asia,1701583.0,77.29,2.00,43290.705
15,Bangladesh,Asia,164689383.0,72.59,0.80,3523.984
16,Barbados,North America,287371.0,79.19,5.80,16978.068
17,Belarus,Europe,9449321.0,74.79,11.00,17167.967
18,Belgium,Europe,11589616.0,81.63,5.64,42658.576
19,Belize,North America,397621.0,74.62,1.30,7824.362
20,Benin,Africa,12123198.0,61.77,0.50,2064.236
21,Bermuda,North America,62273.0,82.59,NaN,50669.315
22,Bhutan,Asia,771612.0,71.78,1.70,8708.597

In [20]:
var.fillna("Aaliya Fatma")

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
0,Afghanistan,Asia,38928341.0,64.83,0.5,1803.987
1,Albania,Europe,2877800.0,78.57,2.89,11803.431
2,Aaliya Fatma,Aaliya Fatma,Aaliya Fatma,Aaliya Fatma,Aaliya Fatma,Aaliya Fatma
3,Aaliya Fatma,Aaliya Fatma,Aaliya Fatma,Aaliya Fatma,Aaliya Fatma,Aaliya Fatma
4,Angola,Africa,32866268.0,61.15,Aaliya Fatma,5819.495
5,Aaliya Fatma,Aaliya Fatma,Aaliya Fatma,Aaliya Fatma,Aaliya Fatma,Aaliya Fatma
6,Antigua and Barbuda,North America,97928.0,77.02,3.8,21490.943
7,Argentina,South America,45195777.0,76.67,5.0,18933.907
8,Armenia,Asia,2963234.0,75.09,4.2,8787.58
9,Aruba,North America,106766.0,76.29,Aaliya Fatma,35973.781
10,Australia,Oceania,25499881.0,83.44,3.84,44648.71
11,Austria,Europe,9006400.0,81.54,7.37,45436.686
12,Azerbaijan,Asia,10139175.0,73.0,4.7,15847.419
13,Bahamas,North America,393248.0,73.92,2.9,27717.847
14,Bahrain,Asia,1701583.0,77.29,2.0,43290.705
15,Bangladesh,Asia,164689383.0,72.59,0.8,3523.984
16,Barbados,North America,287371.0,79.19,5.8,16978.068
17,Belarus,Europe,9449321.0,74.79,11.0,17167.967
18,Belgium,Europe,11589616.0,81.63,5.64,42658.576
19,Belize,North America,397621.0,74.62,1.3,7824.362
20,Benin,Africa,12123198.0,61.77,0.5,2064.236
21,Bermuda,North America,62273.0,82.59,Aaliya Fatma,50669.315
22,Bhutan,Asia,771612.0,71.78,1.7,8708.597

In [ ]:
#Filling Particular value in a Particular column

In [21]:
var1=pd.read_csv("locations.csv")
var1

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987
1,Albania,Europe,2877800.0,78.57,2.89,11803.431
2,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,Africa,32866268.0,61.15,NaN,5819.495
5,NaN,NaN,NaN,NaN,NaN,NaN
6,Antigua and Barbuda,North America,97928.0,77.02,3.80,21490.943
7,Argentina,South America,45195777.0,76.67,5.00,18933.907
8,Armenia,Asia,2963234.0,75.09,4.20,8787.580
9,Aruba,North America,106766.0,76.29,NaN,35973.781
10,Australia,Oceania,25499881.0,83.44,3.84,44648.710
11,Austria,Europe,9006400.0,81.54,7.37,45436.686
12,Azerbaijan,Asia,10139175.0,73.00,4.70,15847.419
13,Bahamas,North America,393248.0,73.92,2.90,27717.847
14,Bahrain,Asia,1701583.0,77.29,2.00,43290.705
15,Bangladesh,Asia,164689383.0,72.59,0.80,3523.984
16,Barbados,North America,287371.0,79.19,5.80,16978.068
17,Belarus,Europe,9449321.0,74.79,11.00,17167.967
18,Belgium,Europe,11589616.0,81.63,5.64,42658.576
19,Belize,North America,397621.0,74.62,1.30,7824.362
20,Benin,Africa,12123198.0,61.77,0.50,2064.236
21,Bermuda,North America,62273.0,82.59,NaN,50669.315
22,Bhutan,Asia,771612.0,71.78,1.70,8708.597

In [22]:
var.fillna({"location":"Shadmani","life_expectancy":"786","hospital_beds_per_thousand":"123"	})

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
0,Afghanistan,Asia,38928341.0,64.83,0.5,1803.987
1,Albania,Europe,2877800.0,78.57,2.89,11803.431
2,Shadmani,NaN,NaN,786,123,NaN
3,Shadmani,NaN,NaN,786,123,NaN
4,Angola,Africa,32866268.0,61.15,123,5819.495
5,Shadmani,NaN,NaN,786,123,NaN
6,Antigua and Barbuda,North America,97928.0,77.02,3.8,21490.943
7,Argentina,South America,45195777.0,76.67,5.0,18933.907
8,Armenia,Asia,2963234.0,75.09,4.2,8787.580
9,Aruba,North America,106766.0,76.29,123,35973.781
10,Australia,Oceania,25499881.0,83.44,3.84,44648.710
11,Austria,Europe,9006400.0,81.54,7.37,45436.686
12,Azerbaijan,Asia,10139175.0,73.0,4.7,15847.419
13,Bahamas,North America,393248.0,73.92,2.9,27717.847
14,Bahrain,Asia,1701583.0,77.29,2.0,43290.705
15,Bangladesh,Asia,164689383.0,72.59,0.8,3523.984
16,Barbados,North America,287371.0,79.19,5.8,16978.068
17,Belarus,Europe,9449321.0,74.79,11.0,17167.967
18,Belgium,Europe,11589616.0,81.63,5.64,42658.576
19,Belize,North America,397621.0,74.62,1.3,7824.362
20,Benin,Africa,12123198.0,61.77,0.5,2064.236
21,Bermuda,North America,62273.0,82.59,123,50669.315
22,Bhutan,Asia,771612.0,71.78,1.7,8708.597

In [ ]:
#Filling NULL Values with Backward data and Forward

In [23]:
var1=pd.read_csv("locations.csv")
var1

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987
1,Albania,Europe,2877800.0,78.57,2.89,11803.431
2,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,Africa,32866268.0,61.15,NaN,5819.495
5,NaN,NaN,NaN,NaN,NaN,NaN
6,Antigua and Barbuda,North America,97928.0,77.02,3.80,21490.943
7,Argentina,South America,45195777.0,76.67,5.00,18933.907
8,Armenia,Asia,2963234.0,75.09,4.20,8787.580
9,Aruba,North America,106766.0,76.29,NaN,35973.781
10,Australia,Oceania,25499881.0,83.44,3.84,44648.710
11,Austria,Europe,9006400.0,81.54,7.37,45436.686
12,Azerbaijan,Asia,10139175.0,73.00,4.70,15847.419
13,Bahamas,North America,393248.0,73.92,2.90,27717.847
14,Bahrain,Asia,1701583.0,77.29,2.00,43290.705
15,Bangladesh,Asia,164689383.0,72.59,0.80,3523.984
16,Barbados,North America,287371.0,79.19,5.80,16978.068
17,Belarus,Europe,9449321.0,74.79,11.00,17167.967
18,Belgium,Europe,11589616.0,81.63,5.64,42658.576
19,Belize,North America,397621.0,74.62,1.30,7824.362
20,Benin,Africa,12123198.0,61.77,0.50,2064.236
21,Bermuda,North America,62273.0,82.59,NaN,50669.315
22,Bhutan,Asia,771612.0,71.78,1.70,8708.597

In [24]:
var.fillna(method="ffill")

C:\Users\MAA\AppData\Local\Temp\ipykernel_11088\3062787689.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  var.fillna(method="ffill")

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987
1,Albania,Europe,2877800.0,78.57,2.89,11803.431
2,Albania,Europe,2877800.0,78.57,2.89,11803.431
3,Albania,Europe,2877800.0,78.57,2.89,11803.431
4,Angola,Africa,32866268.0,61.15,2.89,5819.495
5,Angola,Africa,32866268.0,61.15,2.89,5819.495
6,Antigua and Barbuda,North America,97928.0,77.02,3.80,21490.943
7,Argentina,South America,45195777.0,76.67,5.00,18933.907
8,Armenia,Asia,2963234.0,75.09,4.20,8787.580
9,Aruba,North America,106766.0,76.29,4.20,35973.781
10,Australia,Oceania,25499881.0,83.44,3.84,44648.710
11,Austria,Europe,9006400.0,81.54,7.37,45436.686
12,Azerbaijan,Asia,10139175.0,73.00,4.70,15847.419
13,Bahamas,North America,393248.0,73.92,2.90,27717.847
14,Bahrain,Asia,1701583.0,77.29,2.00,43290.705
15,Bangladesh,Asia,164689383.0,72.59,0.80,3523.984
16,Barbados,North America,287371.0,79.19,5.80,16978.068
17,Belarus,Europe,9449321.0,74.79,11.00,17167.967
18,Belgium,Europe,11589616.0,81.63,5.64,42658.576
19,Belize,North America,397621.0,74.62,1.30,7824.362
20,Benin,Africa,12123198.0,61.77,0.50,2064.236
21,Bermuda,North America,62273.0,82.59,0.50,50669.315
22,Bhutan,Asia,771612.0,71.78,1.70,8708.597

In [27]:
var.fillna(method="bfill",axis=1)

C:\Users\MAA\AppData\Local\Temp\ipykernel_11088\249782568.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  var.fillna(method="bfill",axis=1)

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
0,Afghanistan,Asia,38928341.0,64.83,0.5,1803.987
1,Albania,Europe,2877800.0,78.57,2.89,11803.431
2,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,Africa,32866268.0,61.15,5819.495,5819.495
5,NaN,NaN,NaN,NaN,NaN,NaN
6,Antigua and Barbuda,North America,97928.0,77.02,3.8,21490.943
7,Argentina,South America,45195777.0,76.67,5.0,18933.907
8,Armenia,Asia,2963234.0,75.09,4.2,8787.58
9,Aruba,North America,106766.0,76.29,35973.781,35973.781
10,Australia,Oceania,25499881.0,83.44,3.84,44648.71
11,Austria,Europe,9006400.0,81.54,7.37,45436.686
12,Azerbaijan,Asia,10139175.0,73.0,4.7,15847.419
13,Bahamas,North America,393248.0,73.92,2.9,27717.847
14,Bahrain,Asia,1701583.0,77.29,2.0,43290.705
15,Bangladesh,Asia,164689383.0,72.59,0.8,3523.984
16,Barbados,North America,287371.0,79.19,5.8,16978.068
17,Belarus,Europe,9449321.0,74.79,11.0,17167.967
18,Belgium,Europe,11589616.0,81.63,5.64,42658.576
19,Belize,North America,397621.0,74.62,1.3,7824.362
20,Benin,Africa,12123198.0,61.77,0.5,2064.236
21,Bermuda,North America,62273.0,82.59,50669.315,50669.315
22,Bhutan,Asia,771612.0,71.78,1.7,8708.597

In [ ]:
#Filling a particular data in all NULL Values

In [29]:
var1.fillna(12,inplace=True)
var1

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987
1,Albania,Europe,2877800.0,78.57,2.89,11803.431
2,12,12,12.0,12.00,12.00,12.000
3,12,12,12.0,12.00,12.00,12.000
4,Angola,Africa,32866268.0,61.15,12.00,5819.495
5,12,12,12.0,12.00,12.00,12.000
6,Antigua and Barbuda,North America,97928.0,77.02,3.80,21490.943
7,Argentina,South America,45195777.0,76.67,5.00,18933.907
8,Armenia,Asia,2963234.0,75.09,4.20,8787.580
9,Aruba,North America,106766.0,76.29,12.00,35973.781
10,Australia,Oceania,25499881.0,83.44,3.84,44648.710
11,Austria,Europe,9006400.0,81.54,7.37,45436.686
12,Azerbaijan,Asia,10139175.0,73.00,4.70,15847.419
13,Bahamas,North America,393248.0,73.92,2.90,27717.847
14,Bahrain,Asia,1701583.0,77.29,2.00,43290.705
15,Bangladesh,Asia,164689383.0,72.59,0.80,3523.984
16,Barbados,North America,287371.0,79.19,5.80,16978.068
17,Belarus,Europe,9449321.0,74.79,11.00,17167.967
18,Belgium,Europe,11589616.0,81.63,5.64,42658.576
19,Belize,North America,397621.0,74.62,1.30,7824.362
20,Benin,Africa,12123198.0,61.77,0.50,2064.236
21,Bermuda,North America,62273.0,82.59,12.00,50669.315
22,Bhutan,Asia,771612.0,71.78,1.70,8708.597

In [30]:
var1=pd.read_csv("locations.csv")
var1

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987
1,Albania,Europe,2877800.0,78.57,2.89,11803.431
2,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,Africa,32866268.0,61.15,NaN,5819.495
5,NaN,NaN,NaN,NaN,NaN,NaN
6,Antigua and Barbuda,North America,97928.0,77.02,3.80,21490.943
7,Argentina,South America,45195777.0,76.67,5.00,18933.907
8,Armenia,Asia,2963234.0,75.09,4.20,8787.580
9,Aruba,North America,106766.0,76.29,NaN,35973.781
10,Australia,Oceania,25499881.0,83.44,3.84,44648.710
11,Austria,Europe,9006400.0,81.54,7.37,45436.686
12,Azerbaijan,Asia,10139175.0,73.00,4.70,15847.419
13,Bahamas,North America,393248.0,73.92,2.90,27717.847
14,Bahrain,Asia,1701583.0,77.29,2.00,43290.705
15,Bangladesh,Asia,164689383.0,72.59,0.80,3523.984
16,Barbados,North America,287371.0,79.19,5.80,16978.068
17,Belarus,Europe,9449321.0,74.79,11.00,17167.967
18,Belgium,Europe,11589616.0,81.63,5.64,42658.576
19,Belize,North America,397621.0,74.62,1.30,7824.362
20,Benin,Africa,12123198.0,61.77,0.50,2064.236
21,Bermuda,North America,62273.0,82.59,NaN,50669.315
22,Bhutan,Asia,771612.0,71.78,1.70,8708.597

In [33]:
var1.fillna("FATMA",limit=1)

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
0,Afghanistan,Asia,38928341.0,64.83,0.5,1803.987
1,Albania,Europe,2877800.0,78.57,2.89,11803.431
2,FATMA,FATMA,FATMA,FATMA,FATMA,FATMA
3,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,Africa,32866268.0,61.15,NaN,5819.495
5,NaN,NaN,NaN,NaN,NaN,NaN
6,Antigua and Barbuda,North America,97928.0,77.02,3.8,21490.943
7,Argentina,South America,45195777.0,76.67,5.0,18933.907
8,Armenia,Asia,2963234.0,75.09,4.2,8787.58
9,Aruba,North America,106766.0,76.29,NaN,35973.781
10,Australia,Oceania,25499881.0,83.44,3.84,44648.71
11,Austria,Europe,9006400.0,81.54,7.37,45436.686
12,Azerbaijan,Asia,10139175.0,73.0,4.7,15847.419
13,Bahamas,North America,393248.0,73.92,2.9,27717.847
14,Bahrain,Asia,1701583.0,77.29,2.0,43290.705
15,Bangladesh,Asia,164689383.0,72.59,0.8,3523.984
16,Barbados,North America,287371.0,79.19,5.8,16978.068
17,Belarus,Europe,9449321.0,74.79,11.0,17167.967
18,Belgium,Europe,11589616.0,81.63,5.64,42658.576
19,Belize,North America,397621.0,74.62,1.3,7824.362
20,Benin,Africa,12123198.0,61.77,0.5,2064.236
21,Bermuda,North America,62273.0,82.59,NaN,50669.315
22,Bhutan,Asia,771612.0,71.78,1.7,8708.597