In [1]:
#Replace

In [1]:
import pandas as pd

In [4]:
var=pd.read_csv('locations.csv')
var

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987
1,Albania,Europe,2877800.0,78.57,2.89,11803.431
2,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,Africa,32866268.0,61.15,NaN,5819.495
5,NaN,NaN,NaN,NaN,NaN,NaN
6,Antigua and Barbuda,North America,97928.0,77.02,3.80,21490.943
7,Argentina,South America,45195777.0,76.67,5.00,18933.907
8,Armenia,Asia,2963234.0,75.09,4.20,8787.580
9,Aruba,North America,106766.0,76.29,NaN,35973.781
10,Australia,Oceania,25499881.0,83.44,3.84,44648.710
11,Austria,Europe,9006400.0,81.54,7.37,45436.686
12,Azerbaijan,Asia,10139175.0,73.00,4.70,15847.419
13,Bahamas,North America,393248.0,73.92,2.90,27717.847
14,Bahrain,Asia,1701583.0,77.29,2.00,43290.705
15,Bangladesh,Asia,164689383.0,72.59,0.80,3523.984
16,Barbados,North America,287371.0,79.19,5.80,16978.068
17,Belarus,Europe,9449321.0,74.79,11.00,17167.967
18,Belgium,Europe,11589616.0,81.63,5.64,42658.576
19,Belize,North America,397621.0,74.62,1.30,7824.362
20,Benin,Africa,12123198.0,61.77,0.50,2064.236
21,Bermuda,North America,62273.0,82.59,NaN,50669.315
22,Bhutan,Asia,771612.0,71.78,1.70,8708.597

In [ ]:
#Replacing the values

In [9]:
var.replace(to_replace="Afghanistan"	,value="Dubai")

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
0,Dubai,Asia,38928341.0,64.83,0.50,1803.987
1,Albania,Europe,2877800.0,78.57,2.89,11803.431
2,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,Africa,32866268.0,61.15,NaN,5819.495
5,NaN,NaN,NaN,NaN,NaN,NaN
6,Antigua and Barbuda,North America,97928.0,77.02,3.80,21490.943
7,Argentina,South America,45195777.0,76.67,5.00,18933.907
8,Armenia,Asia,2963234.0,75.09,4.20,8787.580
9,Aruba,North America,106766.0,76.29,NaN,35973.781
10,Australia,Oceania,25499881.0,83.44,3.84,44648.710
11,Austria,Europe,9006400.0,81.54,7.37,45436.686
12,Azerbaijan,Asia,10139175.0,73.00,4.70,15847.419
13,Bahamas,North America,393248.0,73.92,2.90,27717.847
14,Bahrain,Asia,1701583.0,77.29,2.00,43290.705
15,Bangladesh,Asia,164689383.0,72.59,0.80,3523.984
16,Barbados,North America,287371.0,79.19,5.80,16978.068
17,Belarus,Europe,9449321.0,74.79,11.00,17167.967
18,Belgium,Europe,11589616.0,81.63,5.64,42658.576
19,Belize,North America,397621.0,74.62,1.30,7824.362
20,Benin,Africa,12123198.0,61.77,0.50,2064.236
21,Bermuda,North America,62273.0,82.59,NaN,50669.315
22,Bhutan,Asia,771612.0,71.78,1.70,8708.597

In [ ]:
#Replacing Alphabetic letter

In [12]:
var.replace("[A-Za-z]","Aaliya Fatma",regex=True)

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
0,Aaliya FatmaAaliya FatmaAaliya FatmaAaliya Fat...,Aaliya FatmaAaliya FatmaAaliya FatmaAaliya Fatma,38928341.0,64.83,0.50,1803.987
1,Aaliya FatmaAaliya FatmaAaliya FatmaAaliya Fat...,Aaliya FatmaAaliya FatmaAaliya FatmaAaliya Fat...,2877800.0,78.57,2.89,11803.431
2,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN
4,Aaliya FatmaAaliya FatmaAaliya FatmaAaliya Fat...,Aaliya FatmaAaliya FatmaAaliya FatmaAaliya Fat...,32866268.0,61.15,NaN,5819.495
5,NaN,NaN,NaN,NaN,NaN,NaN
6,Aaliya FatmaAaliya FatmaAaliya FatmaAaliya Fat...,Aaliya FatmaAaliya FatmaAaliya FatmaAaliya Fat...,97928.0,77.02,3.80,21490.943
7,Aaliya FatmaAaliya FatmaAaliya FatmaAaliya Fat...,Aaliya FatmaAaliya FatmaAaliya FatmaAaliya Fat...,45195777.0,76.67,5.00,18933.907
8,Aaliya FatmaAaliya FatmaAaliya FatmaAaliya Fat...,Aaliya FatmaAaliya FatmaAaliya FatmaAaliya Fatma,2963234.0,75.09,4.20,8787.580
9,Aaliya FatmaAaliya FatmaAaliya FatmaAaliya Fat...,Aaliya FatmaAaliya FatmaAaliya FatmaAaliya Fat...,106766.0,76.29,NaN,35973.781
10,Aaliya FatmaAaliya FatmaAaliya FatmaAaliya Fat...,Aaliya FatmaAaliya FatmaAaliya FatmaAaliya Fat...,25499881.0,83.44,3.84,44648.710
11,Aaliya FatmaAaliya FatmaAaliya FatmaAaliya Fat...,Aaliya FatmaAaliya FatmaAaliya FatmaAaliya Fat...,9006400.0,81.54,7.37,45436.686
12,Aaliya FatmaAaliya FatmaAaliya FatmaAaliya Fat...,Aaliya FatmaAaliya FatmaAaliya FatmaAaliya Fatma,10139175.0,73.00,4.70,15847.419
13,Aaliya FatmaAaliya FatmaAaliya FatmaAaliya Fat...,Aaliya FatmaAaliya FatmaAaliya FatmaAaliya Fat...,393248.0,73.92,2.90,27717.847
14,Aaliya FatmaAaliya FatmaAaliya FatmaAaliya Fat...,Aaliya FatmaAaliya FatmaAaliya FatmaAaliya Fatma,1701583.0,77.29,2.00,43290.705
15,Aaliya FatmaAaliya FatmaAaliya FatmaAaliya Fat...,Aaliya FatmaAaliya FatmaAaliya FatmaAaliya Fatma,164689383.0,72.59,0.80,3523.984
16,Aaliya FatmaAaliya FatmaAaliya FatmaAaliya Fat...,Aaliya FatmaAaliya FatmaAaliya FatmaAaliya Fat...,287371.0,79.19,5.80,16978.068
17,Aaliya FatmaAaliya FatmaAaliya FatmaAaliya Fat...,Aaliya FatmaAaliya FatmaAaliya FatmaAaliya Fat...,9449321.0,74.79,11.00,17167.967
18,Aaliya FatmaAaliya FatmaAaliya FatmaAaliya Fat...,Aaliya FatmaAaliya FatmaAaliya FatmaAaliya Fat...,11589616.0,81.63,5.64,42658.576
19,Aaliya FatmaAaliya FatmaAaliya FatmaAaliya Fat...,Aaliya FatmaAaliya FatmaAaliya FatmaAaliya Fat...,397621.0,74.62,1.30,7824.362
20,Aaliya FatmaAaliya FatmaAaliya FatmaAaliya Fat...,Aaliya FatmaAaliya FatmaAaliya FatmaAaliya Fat...,12123198.0,61.77,0.50,2064.236
21,Aaliya FatmaAaliya FatmaAaliya FatmaAaliya Fat...,Aaliya FatmaAaliya FatmaAaliya FatmaAaliya Fat...,62273.0,82.59,NaN,50669.315
22,Aaliya FatmaAaliya FatmaAaliya FatmaAaliya Fat...,Aaliya FatmaAaliya FatmaAaliya FatmaAaliya Fatma,771612.0,71.78,1.70,8708.597

In [14]:
var.replace({"continent":'[A-Za-z]'},22,regex=True)

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
0,Afghanistan,22.0,38928341.0,64.83,0.50,1803.987
1,Albania,22.0,2877800.0,78.57,2.89,11803.431
2,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,22.0,32866268.0,61.15,NaN,5819.495
5,NaN,NaN,NaN,NaN,NaN,NaN
6,Antigua and Barbuda,22.0,97928.0,77.02,3.80,21490.943
7,Argentina,22.0,45195777.0,76.67,5.00,18933.907
8,Armenia,22.0,2963234.0,75.09,4.20,8787.580
9,Aruba,22.0,106766.0,76.29,NaN,35973.781
10,Australia,22.0,25499881.0,83.44,3.84,44648.710
11,Austria,22.0,9006400.0,81.54,7.37,45436.686
12,Azerbaijan,22.0,10139175.0,73.00,4.70,15847.419
13,Bahamas,22.0,393248.0,73.92,2.90,27717.847
14,Bahrain,22.0,1701583.0,77.29,2.00,43290.705
15,Bangladesh,22.0,164689383.0,72.59,0.80,3523.984
16,Barbados,22.0,287371.0,79.19,5.80,16978.068
17,Belarus,22.0,9449321.0,74.79,11.00,17167.967
18,Belgium,22.0,11589616.0,81.63,5.64,42658.576
19,Belize,22.0,397621.0,74.62,1.30,7824.362
20,Benin,22.0,12123198.0,61.77,0.50,2064.236
21,Bermuda,22.0,62273.0,82.59,NaN,50669.315
22,Bhutan,22.0,771612.0,71.78,1.70,8708.597

In [15]:
var.replace(1,method="ffill")

C:\Users\MAA\AppData\Local\Temp\ipykernel_1552\4173063640.py:1: FutureWarning: The 'method' keyword in DataFrame.replace is deprecated and will be removed in a future version.
  var.replace(1,method="ffill")

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987
1,Albania,Europe,2877800.0,78.57,2.89,11803.431
2,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,Africa,32866268.0,61.15,NaN,5819.495
5,NaN,NaN,NaN,NaN,NaN,NaN
6,Antigua and Barbuda,North America,97928.0,77.02,3.80,21490.943
7,Argentina,South America,45195777.0,76.67,5.00,18933.907
8,Armenia,Asia,2963234.0,75.09,4.20,8787.580
9,Aruba,North America,106766.0,76.29,NaN,35973.781
10,Australia,Oceania,25499881.0,83.44,3.84,44648.710
11,Austria,Europe,9006400.0,81.54,7.37,45436.686
12,Azerbaijan,Asia,10139175.0,73.00,4.70,15847.419
13,Bahamas,North America,393248.0,73.92,2.90,27717.847
14,Bahrain,Asia,1701583.0,77.29,2.00,43290.705
15,Bangladesh,Asia,164689383.0,72.59,0.80,3523.984
16,Barbados,North America,287371.0,79.19,5.80,16978.068
17,Belarus,Europe,9449321.0,74.79,11.00,17167.967
18,Belgium,Europe,11589616.0,81.63,5.64,42658.576
19,Belize,North America,397621.0,74.62,1.30,7824.362
20,Benin,Africa,12123198.0,61.77,0.50,2064.236
21,Bermuda,North America,62273.0,82.59,NaN,50669.315
22,Bhutan,Asia,771612.0,71.78,1.70,8708.597

In [ ]:
#Forward filling the data

In [16]:
var.replace("Belgium",method="ffill")

C:\Users\MAA\AppData\Local\Temp\ipykernel_1552\4188030305.py:1: FutureWarning: The 'method' keyword in DataFrame.replace is deprecated and will be removed in a future version.
  var.replace("Belgium",method="ffill")

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987
1,Albania,Europe,2877800.0,78.57,2.89,11803.431
2,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,Africa,32866268.0,61.15,NaN,5819.495
5,NaN,NaN,NaN,NaN,NaN,NaN
6,Antigua and Barbuda,North America,97928.0,77.02,3.80,21490.943
7,Argentina,South America,45195777.0,76.67,5.00,18933.907
8,Armenia,Asia,2963234.0,75.09,4.20,8787.580
9,Aruba,North America,106766.0,76.29,NaN,35973.781
10,Australia,Oceania,25499881.0,83.44,3.84,44648.710
11,Austria,Europe,9006400.0,81.54,7.37,45436.686
12,Azerbaijan,Asia,10139175.0,73.00,4.70,15847.419
13,Bahamas,North America,393248.0,73.92,2.90,27717.847
14,Bahrain,Asia,1701583.0,77.29,2.00,43290.705
15,Bangladesh,Asia,164689383.0,72.59,0.80,3523.984
16,Barbados,North America,287371.0,79.19,5.80,16978.068
17,Belarus,Europe,9449321.0,74.79,11.00,17167.967
18,Belarus,Europe,11589616.0,81.63,5.64,42658.576
19,Belize,North America,397621.0,74.62,1.30,7824.362
20,Benin,Africa,12123198.0,61.77,0.50,2064.236
21,Bermuda,North America,62273.0,82.59,NaN,50669.315
22,Bhutan,Asia,771612.0,71.78,1.70,8708.597

In [ ]:
var.replace()