In [2]:
import pandas as pd

In [4]:
var=pd.read_csv('locations.csv')
var

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987
1,Albania,Europe,2877800.0,78.57,2.89,11803.431
2,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,Africa,32866268.0,61.15,NaN,5819.495
5,NaN,NaN,NaN,NaN,NaN,NaN
6,Antigua and Barbuda,North America,97928.0,77.02,3.80,21490.943
7,Argentina,South America,45195777.0,76.67,5.00,18933.907
8,Armenia,Asia,2963234.0,75.09,4.20,8787.580
9,Aruba,North America,106766.0,76.29,NaN,35973.781
10,Australia,Oceania,25499881.0,83.44,3.84,44648.710
11,Austria,Europe,9006400.0,81.54,7.37,45436.686
12,Azerbaijan,Asia,10139175.0,73.00,4.70,15847.419
13,Bahamas,North America,393248.0,73.92,2.90,27717.847
14,Bahrain,Asia,1701583.0,77.29,2.00,43290.705
15,Bangladesh,Asia,164689383.0,72.59,0.80,3523.984
16,Barbados,North America,287371.0,79.19,5.80,16978.068
17,Belarus,Europe,9449321.0,74.79,11.00,17167.967
18,Belgium,Europe,11589616.0,81.63,5.64,42658.576
19,Belize,North America,397621.0,74.62,1.30,7824.362
20,Benin,Africa,12123198.0,61.77,0.50,2064.236
21,Bermuda,North America,62273.0,82.59,NaN,50669.315
22,Bhutan,Asia,771612.0,71.78,1.70,8708.597

In [ ]:
#Filling the NaN values only in NUMBERS

In [5]:
var.interpolate()

C:\Users\MAA\AppData\Local\Temp\ipykernel_5268\1566664964.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  var.interpolate()

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
0,Afghanistan,Asia,38928341.0,64.830000,0.500,1803.987000
1,Albania,Europe,2877800.0,78.570000,2.890,11803.431000
2,NaN,NaN,12873956.0,72.763333,3.072,9808.785667
3,NaN,NaN,22870112.0,66.956667,3.254,7814.140333
4,Angola,Africa,32866268.0,61.150000,3.436,5819.495000
5,NaN,NaN,16482098.0,69.085000,3.618,13655.219000
6,Antigua and Barbuda,North America,97928.0,77.020000,3.800,21490.943000
7,Argentina,South America,45195777.0,76.670000,5.000,18933.907000
8,Armenia,Asia,2963234.0,75.090000,4.200,8787.580000
9,Aruba,North America,106766.0,76.290000,4.020,35973.781000
10,Australia,Oceania,25499881.0,83.440000,3.840,44648.710000
11,Austria,Europe,9006400.0,81.540000,7.370,45436.686000
12,Azerbaijan,Asia,10139175.0,73.000000,4.700,15847.419000
13,Bahamas,North America,393248.0,73.920000,2.900,27717.847000
14,Bahrain,Asia,1701583.0,77.290000,2.000,43290.705000
15,Bangladesh,Asia,164689383.0,72.590000,0.800,3523.984000
16,Barbados,North America,287371.0,79.190000,5.800,16978.068000
17,Belarus,Europe,9449321.0,74.790000,11.000,17167.967000
18,Belgium,Europe,11589616.0,81.630000,5.640,42658.576000
19,Belize,North America,397621.0,74.620000,1.300,7824.362000
20,Benin,Africa,12123198.0,61.770000,0.500,2064.236000
21,Bermuda,North America,62273.0,82.590000,1.100,50669.315000
22,Bhutan,Asia,771612.0,71.780000,1.700,8708.597000

In [7]:
var.interpolate(method="linear",axis=0)

C:\Users\MAA\AppData\Local\Temp\ipykernel_5268\3195347084.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  var.interpolate(method="linear",axis=0)

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
0,Afghanistan,Asia,38928341.0,64.830000,0.500,1803.987000
1,Albania,Europe,2877800.0,78.570000,2.890,11803.431000
2,NaN,NaN,12873956.0,72.763333,3.072,9808.785667
3,NaN,NaN,22870112.0,66.956667,3.254,7814.140333
4,Angola,Africa,32866268.0,61.150000,3.436,5819.495000
5,NaN,NaN,16482098.0,69.085000,3.618,13655.219000
6,Antigua and Barbuda,North America,97928.0,77.020000,3.800,21490.943000
7,Argentina,South America,45195777.0,76.670000,5.000,18933.907000
8,Armenia,Asia,2963234.0,75.090000,4.200,8787.580000
9,Aruba,North America,106766.0,76.290000,4.020,35973.781000
10,Australia,Oceania,25499881.0,83.440000,3.840,44648.710000
11,Austria,Europe,9006400.0,81.540000,7.370,45436.686000
12,Azerbaijan,Asia,10139175.0,73.000000,4.700,15847.419000
13,Bahamas,North America,393248.0,73.920000,2.900,27717.847000
14,Bahrain,Asia,1701583.0,77.290000,2.000,43290.705000
15,Bangladesh,Asia,164689383.0,72.590000,0.800,3523.984000
16,Barbados,North America,287371.0,79.190000,5.800,16978.068000
17,Belarus,Europe,9449321.0,74.790000,11.000,17167.967000
18,Belgium,Europe,11589616.0,81.630000,5.640,42658.576000
19,Belize,North America,397621.0,74.620000,1.300,7824.362000
20,Benin,Africa,12123198.0,61.770000,0.500,2064.236000
21,Bermuda,North America,62273.0,82.590000,1.100,50669.315000
22,Bhutan,Asia,771612.0,71.780000,1.700,8708.597000