In [ ]:
#JOIN

In [4]:
import pandas as pd

In [10]:
var1=pd.DataFrame({"A":[1,2,3,4],"B":[11,12,13,14]},index=["a","b","c","d"])
var2=pd.DataFrame({"C":[10,20,],"D":[11,12]},index=["a","b"])
#Outer
var2.join(var1,how="outer")
#Inner
var1.join(var2,how="inner")

   A   B   C   D
a  1  11  10  11
b  2  12  20  12

In [13]:
var3=pd.DataFrame({"E":[1,2,3,4],"F":[11,12,13,14]},index=["a","b","c","d"])
var4=pd.DataFrame({"G":[10,20,],"F":[11,12]},index=["a","b"])
#Outer
var4.join(var3,how="outer",lsuffix="_12")

      G  F_12  E   F
a  10.0  11.0  1  11
b  20.0  12.0  2  12
c   NaN   NaN  3  13
d   NaN   NaN  4  14

In [ ]:
#Append

In [25]:
var1=pd.DataFrame({"A":[1,2,3,4],"B":[11,12,13,14]})
var2=pd.DataFrame({"C":[10,20],"B":[11,12]})

var1.append(var2)

AttributeError: 'DataFrame' object has no attribute 'append'