In [ ]:
#

In [1]:
import pandas as pd

In [3]:
first=('Mike','Dorothee','Tom','Bill','Pete','Kete')
last=('Meyer','Maier','Meyer','Maier','Meyer','Maier')
job=('Data Analyst','Programmer','Computer Scientist','Data Scientist','Accountant','Doctor')
language=('Java','C','C++','Python','Ruby','Cobol','Brainfuck')
df=pd.DataFrame(list(zip(last,job,language)),
                columns=['last','job','language'],
                index=first)
df

           last                 job language
Mike      Meyer        Data Analyst     Java
Dorothee  Maier          Programmer        C
Tom       Meyer  Computer Scientist      C++
Bill      Maier      Data Scientist   Python
Pete      Meyer          Accountant     Ruby
Kete      Maier              Doctor    Cobol