In [1]:
import pandas as pd

In [ ]:
#Series

In [4]:
x=[3,4,5,6,7,8]
var=pd.Series(x)
print(var)
print(type(var))
print(var[2])

0    3
1    4
2    5
3    6
4    7
5    8
dtype: int64
<class 'pandas.core.series.Series'>
5

In [ ]:
#Changing Index in Series

In [ ]:
#List

In [8]:
y=[33,445,65,786,712,800]
var1=pd.Series(y,index=['a','s','d','f','g','h'],dtype="float")
print(var1)
print(type(var1))

a     33.0
s    445.0
d     65.0
f    786.0
g    712.0
h    800.0
dtype: float64
<class 'pandas.core.series.Series'>

In [ ]:
#Dictionary

In [9]:
dic={"name":['python','c','java','c++'],"por":[12,13,14,15],"rank":[1,4,3,2]}
var2=pd.Series(dic)
print(var2)

name    [python, c, java, c++]
por           [12, 13, 14, 15]
rank              [1, 4, 3, 2]
dtype: object

In [ ]:
#Creating Series with single data

In [11]:
s=pd.Series(12)
print(s)
print(type(s))

0    12
dtype: int64
<class 'pandas.core.series.Series'>

In [ ]:
#Creating Series with single value with multiple times

In [14]:
q=pd.Series(12,index=[1,2,3,4,5,6,7,8,9])
print(q)
print(type(q))

1    12
2    12
3    12
4    12
5    12
6    12
7    12
8    12
9    12
dtype: int64
<class 'pandas.core.series.Series'>

In [ ]:
#Series working with MISSING Data

In [17]:
q1=pd.Series(12,index=[1,2,3,4,5,6,7,8,9])
q2=pd.Series(12,index=[1,2,3,4])
print(q1+q2)

1    24.0
2    24.0
3    24.0
4    24.0
5     NaN
6     NaN
7     NaN
8     NaN
9     NaN
dtype: float64